body {
font-family:Verdana, sans-serif;
font-size:100.01%;
text-align:justify;
color:#303060
}

#wrap {
font:0.8em/150% Verdana
}

h1 {
margin:0;
padding:0
}

h2 {
font-size:120%;
margin-top:1.5em;
border-bottom:1px dashed #100884;
background:#FFF url(images/h2back.gif) 0 100% repeat-x
}

h4 {
font-size:100%;
margin-top:1.5em;
background:#FFF url(images/h2back.gif) 0 6px repeat-x;
padding-left:1.2em;
clear:both
}

a {
color:#100884;
text-decoration:none
}

a img {
border:none
}

a.img:link,a.img:visited,a.img:hover,a.img:active {
border:0
}

code,.mycode {
font-family:monospace;
font-size:11px;
text-align:left;
border:#FFF dotted 1px;
overflow:auto;
display:block;
white-space:pre;
width:500px;
margin:0 0 10px 10px;
padding:3px
}

.post tt {
    background-color: #F5FAFE;
    border: 1px solid #ADC7DC;
    border-radius: 3px;
    color: #712525;
    font-size: 120%;
    margin: 0 2px;
    padding: 0 3px;
    white-space: nowrap;
}

blockquote {
color:#666;
font-style:italic;
border-left:4px solid #eef;
padding-left:1em;
background:transparent url(images/quote.png) -5px -10px no-repeat
}

div.message {
background:url("images/info.png") no-repeat scroll 5px 30% transparent;
border:2px solid #9793CA;
color:#9793CA;
border-radius:7px;
padding:0.2em 1em 0.2em 60px
}

#plznote_translated {
padding-left:45px;
padding-right:10px;
background:#E4F2FD url(images/multiflags.gif) 0px center no-repeat;
border:1px solid #9793CA;
-moz-border-radius:15px;
}

.download {
padding-left:115px;
background:transparent url(images/download.png) 0px center no-repeat;
min-height:100px;
}

.bigcloud {
line-height:normal;
}
