.tabberlive .tabbertabhide {
display:none
}

.tabberlive {
width:300px;
margin-top:1em !important
}

#sidebar ul.tabbernav {
margin:0;
padding:0
}

#sidebar ul.tabbernav li {
list-style:none;
display:inline;
border-top:2px solid #E4F2FD;
border-left:1px solid #E4F2FD;
border-right:1px solid #E4F2FD;
-moz-border-radius-topleft:15px;
-moz-border-radius-topright:15px;
background:#EFFAFF;
margin:0;
padding:0 1px
}

#sidebar ul.tabbernav li:hover {
-moz-border-radius-topleft:15px;
-moz-border-radius-topright:15px;
border-top:2px solid #EFFAFF;
border-left:1px solid #EFFAFF;
border-right:1px solid #EFFAFF;
background:#fff
}

#sidebar ul.tabbernav li a {
margin-left:3px;
border-bottom:none;
text-decoration:none;
padding-left:10px
}

#sidebar ul.tabbernav li a:hover {
text-decoration:none;
border-bottom:0;
background:transparent url(images/rarr.png) 1px 3px no-repeat
}

#sidebar ul.tabbernav li.tabberactive a {
background:transparent url(images/rarr.png) 0 3px no-repeat
}

#sidebar ul.tabbernav:hover li.tabberactive a {
background:transparent
}

#sidebar ul.tabbernav li.tabberactive a:hover {
background:transparent url(images/rarr.png) 0 3px no-repeat
}

#sidebar .tabberlive .tabbertab {
-moz-border-radius-bottomleft:15px;
-moz-border-radius-bottomright:15px;
border:2px solid #EFFAFF;
margin:0;
padding:0
}

#sidebar .tabberlive .tabbertab ul {
list-style-type:none;
margin:0;
padding:0
}

#sidebar .tabberlive .tabbertab ul li {
background:transparent url(images/dot.gif) 0 4px no-repeat;
border-bottom:1px solid #E4F2FD;
padding:0 0 3px 10px
}

#sidebar .tabberlive .tabbertab ul li:hover {
background:#EFFAFF url(images/dot.gif) 2px 4px no-repeat;
border-bottom:1px solid #FFF
}

#sidebar .tabberlive .tabbertab h2,.tabberlive .tabbertab h3,.tabberlive .tabbertab h4 {
display:none
}

.tabberlive#tab2 .tabbertab {
height:200px;
overflow:auto
}